.buttonStyles{
    border: 0px solid lightgrey;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 16px 20px;
    background-image: linear-gradient(to right, #17D3BB, #11D0E1);
}